<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Examen Práctico</a>
  </nav>

  <div class="container" style="margin:20px 20px 20px 20px ;">
    <label>Primer Valor</label>
    <input type="number" id="txtvalor1" class="form-control">

    <label>Segundo Valor</label>
    <input type="number" id="txtvalor2" class="form-control">

    <br>
    <button class="btn btn-primary" onclick="fnEjecutar()">Sumar</button>
    <button class="btn btn-success">Restar</button>
  </div>
</div>
