<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Examen Práctico</a>
  </nav>

  <div class="container mb-5" style="margin:20px 50px 20px 20px ; width: 800px;">
    <label>Primer Valor</label>
    <input type="text" id="txtvalor1" class="form-control" [(ngModel)]=valor1>
    <br>
    <label>Segundo Valor</label>
    <input type="text" id="txtvalor2" class="form-control" [(ngModel)]=valor2>

    <br>
    <div class="container text-center">
    <button class="btn btn-primary col-sm-2">Sumar </button>
    <button class="btn btn-success col-sm-2">Restar</button>
  </div>
    <br>
    <br>
    <label>Resultado</label>
    <input type="number" id="txtresultado" class="form-control">
  </div>
</div>

